.part {
    border-radius: 20px;
    margin-bottom: 1%;
    
}

#reddit {
    overflow: auto; 
    max-height: 43rem;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#pictures {
    overflow: hidden; 
    max-height: 43rem;
}
#pictures p{
    margin-bottom: 0.5%;
    margin-top: 1%;
    color: black;
    font-weight: 500;
}

#pictures img{
    display: block;
    margin: auto;
    box-shadow: 10px 0px 10px rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: 0%;
    margin-bottom: 18px;
}

#userButton {
    display: block;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

label {
    font: 150%;
    font-weight: bold;
}

.inst {
    font: 150%;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#iheart {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#searchGoogle {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#weatherTime {
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.weather-info-warapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20;
padding-bottom: 30px;
}
.meata-data{
font-size: 20px;
}

.city-name {
    margin: 4px ;
}
.description{
    margin:4px
}