.part {
    border-radius: 20px;
    margin-bottom: 1%;
    
}

#reddit {
    overflow: auto; 
    max-height: 40rem;
}

#pictures {
    overflow: hidden; 
    max-height: 40rem;
}

#pictures img{
    align-items: center;
}

#userButton {
   margin-left: 40%;
}

label {
    font: 150%;
    font-weight: bold;
}

.inst {
    font: 150%;
    font-weight: bold;
    color: black;
}